<!DOCTYPE html>
<html>
<head>
{{ partial "meta.html" }}
<title>{{ .Title }} | {{ .Site.Title }}</title>
</head>

<body class="bg-gray-200 text-gray-800">

<div class="container mx-auto p-4">
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    <div class="col-span-1"></div> 
    <div class="col-span-2">
        <header><h1 class="text-3xl m3 p-2 text-center font-bold"><a href="/daily-journal/">{{ .Site.Title }}</a></h1>  
<p class="m-2">{{ partial "nav.html" }}</p>
</header>

     <div class="p-3"> {{ block "main" . }}
  {{ end }}</div>

      </div>
    <div class="col-span-1"></div> 
</div>
</div>


</body>
</html>
