html {
margin: 0px;}
body {
margin: 0px;
  font-family: sans-serif;
  background-color: gray;
}
.body-center {
	background-color: white;
	margin: 0 auto;
	height: auto;
	min-height: 100vh;
	max-width: 500px;
}
.main-content {
    padding: 20px 20px;
}
.home-heading {
	text-align: center;
	margin: 0;
	padding: 20px;
  font-size:xx-large;
}
@media (max-width: 500px) {
  .home-heading {
    font-size: x-large;
  }
}

.home-heading>a {
  text-decoration: none;
  color: black;
}
nav ul {
  list-style: none;
  background: #111;
  text-align: center;
  margin: 0px;
  padding: 8px 0;
}

  nav>ul>li>a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

 nav>ul>li {
    display: inline;
    padding: 0 7px;
  }


footer {
  background: #f2f2f2;
  padding: 2px 2px;
  font-size: .7em;
  text-align: center;
}

#map {
  height: 300px;
}
figure {
  text-align: center;
}
